<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Library"/>
			<dependentAssembly>
				<assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
				<codeBase version="1.11.58.0" href="file:///Library/HtmlAgilityPack.dll" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
